<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="{{ metadata.type }}" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{{ metadata.cover.original }}" />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="/icon.png" />

    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#4d4b48" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Noto+Serif+Display:wght@600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/core.css" />
    {% block head %}{% endblock %}
  </head>

  <body>
    <header id="header" class="container">
      {% if isHome %}
        <h1 class="reset branding">
      {% else %}
        <p class="reset branding">
      {% endif %}
        <a href="/" class="branding--link">
          <img
            src="/images/principled-engineer-logo.svg"
            class="branding--logo"
            alt=""
            aria-hidden
          />
          <span class="sr-only">The Principled Engineer | Home</span>
        </a>
      {% if isHome %}
        </h1>
      {% else %}
        </p>
      {% endif %}
    </header>

    <main id="main">
      {% block main %}
      {{ content }}
      {% endblock %}
    </main>

    <footer id="footer" class="container">
      <h2 class="sr-only">Page Footer</h2>

      <section>
        <h3 class="sr-only">Supplemental Navigation</h3>
        <nav class="footerNav">
          <ul class="reset flex font-display">
            <li>
              <a href="/" class="footerNav--link focusable">Home</a>
            </li>
            <li>
              <a href="/contact" class="footerNav--link focusable">Contact</a>
            </li>
          </ul>
        </nav>
      </section>

      <section class="text-sm">
        <h3 class="sr-only">Copyright and Disclaimers</h3>

        <p>
          All content on the Principled Engineer is Copyright &copy; 2022
          by Phillip Luther unless otherwise specified.
        </p>
        <p>
          The opinions expressed on this site belong to me, Phillip Luther, and do not necessarily
          reflect the views or opinions of any associated organizations or corporate entities.
        </p>
      </section>
    </footer>

    <script src="/core.js"></script>
  </body>
</html>
