{% extends "./base.njk" %}
{% set isHome = true %}
{% set title = 'The Principled Engineer | Code Well. Code good.' %}

{% block main %}
<div class="container home">
  <p class="home--subtitle">Code well. Code good.</p>

  <h2 class="title-block">Recent Posts</h2>
  {% include 'components/posts-list.njk' %}
</div>
{% endblock %}
