{% extends "./base.njk" %}
{% set isHome = true %}

{% block main %}
<header class="home--header">
  <h2 class="title-xl">This is the home page.</h2>
</header>

<section aria-label="Featured Posts" class="container">
  {% include 'components/posts-list.njk' %}
</section>
{% endblock %}
