{% extends "./base.njk" %}

{% block head %}
<link rel="stylesheet" href="/post.css" />
<link rel="stylesheet" href="/code-highlighting.css" />
{% endblock %}

{% block main %}
<article class="post">
  <header class="container post--header">
    <h1 class="post--title">{{ title }}</h1>

    <div class="container post--blurbs">
      <p class="post--summary">{{ metadata.description }}</p>
      <p class="post--meta">
        <time>{{ metadata.date | date }}</time>
        &nbsp;|&nbsp;
        {{ content | wordcount | readtime }} minute read
        <span>({{ content | wordcount }} words)</span>
      </p>
    </div>

    <img src="/{{metadata.cover.placeholder}}" srcset="{{ metadata.cover.srcset }}" class="post--cover" alt="" aria-hidden />
  </header>

  <section class="post--content container">
    {{ content }}
  </section>
</article>
{% endblock %}
