{% extends "./base.njk" %}

{% block head %}
<link rel="stylesheet" href="/post.css" />
{% endblock %}

{% block main %}
<article class="post">
  <header class="container">
    <h1 class="post--title">{{ title }}</h1>
    <p class="post--summary">{{ metadata.description }}</p>
    <p class="post--meta">
      <time>{{ metadata.date | date }}</time>
      &nbsp;|&nbsp;
      {{ content | wordcount | readtime }} minute read
      <span>({{ content | wordcount }} words)</span>
    </p>
  </header>

  <div class="post--coverWrapper">
    <img src="/{{metadata.cover.placeholder}}" srcset="{{ metadata.cover.srcset }}" class="post--cover" alt="" aria-hidden />
  </div>

  <section class="post--content container">
    {{ content }}
  </section>
</article>
{% endblock %}
