.text {
  font-family: var(--fontFamily-display);
  font-weight: 900;
}

.xs {
  font-size: var(--fontSize-xs) !important;
}

.sm {
  font-size: var(--fontSize-sm) !important;
}

.md {
  font-size: var(--fontSize-md) !important;
}

.lg {
  font-size: var(--fontSize-lg) !important;
}

.xl {
  font-size: var(--fontSize-xl) !important;
}

.base {
  font-size: var(--fontSize-base) !important;
}
