html {
  font-size: 1.1em;

  @media (--screen-md) {
    font-size: 1.2em;
  }
}

html,
body {
  background: $color-core-lightest;
}

body {
  font-family: $font-normal;
  color: $color-core-darker;
  line-height: $scale-3;
}

* {
  box-sizing: border-box;
}

a {
  color: $color-accent-dark;

  &:hover {
    color: $color-accent-darker;
    text-decoration: none;
  }

  .tactical-focus &:focus {
    border-radius: 3px;
    outline: 2px solid $color-accent-dark;
    outline-offset: 1px;
  }
}

/**
 *
 * ============================================
 * Global component styles
 */
.branding {
  margin: 0;
  text-align: center;

  &--link {
    display: inline-block;
  }

  &--logo {
    width: auto;
    height: 80px;
  }
}

.footerNav {
  $padding-offset: calc($space-sm / 2);

  margin-left: calc($padding-offset * -1);

  &--link {
    display: block;
    line-height: 48px;
    white-space: nowrap;
    padding-left: $padding-offset;
    padding-right: $padding-offset;
  }
}

.postsList {
  &--item {
    & + & {
      margin-top: $space-lg;

      @media (--screen-md) {
        margin-top: $space-xl;
      }
    }
  }
}

.home {
  padding-top: 0 !important;

  &--subtitle {
    text-align: center;
    font-size: $text-1;
    margin: 0 auto $space-md;
    color: $color-core-dark;
  }
}
