html {
  font-size: 1em;

  @media (--screen-md) {
    font-size: 1.1em;
  }
}

html,
body {
  background: $color-core-lightest;
}

body {
  font-family: $font-normal;
  color: $color-core-darker;
  line-height: $scale-3;
}

* {
  box-sizing: border-box;
}

/**
 *
 * ============================================
 * Global header styles
 */
.branding {
  margin: 0;

  &--logo {
    width: auto;
    height: 80px;
  }
}
