<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="{{ metadata.type }}" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{{ metadata.cover }}" />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="/icon.png" />

    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#4d4b48" />

    {% block head %}{% endblock %}
  </head>

  <body>
    <header id="header">
      {% include "../partials/primary-nav.njk" %}
    </header>

    <main id="main">
      {% block main %}
      {{ content }}
      {% endblock %}
    </main>

    <footer id="footer">
      <h2 class="sr-only">Page Footer</h2>

      <section>
        <h3 class="sr-only">Supplemental Navigation</h3>
        {% include "../partials/primary-nav.njk" %}
        {% include "../partials/social.njk" %}
      </section>

      <section>
        <h3 class="sr-only">Copyright and Disclaimers</h3>

        <p>
          All content on the Principled Engineer is Copyright &copy; 2022
          by Phillip Luther unless otherwise specified.
        </p>
        <p>
          The opinions expressed on this site belong to me, Phillip Luther, and do not necessarily
          reflect the views or opinions of any associated organizations or corporate entities.
        </p>
      </section>
    </footer>
  </body>
</html>
