.centered {
  margin-left: auto;
  margin-right: auto;
}

.padTop {
  padding-top: var(--spacing-sm);
}

.padBottom {
  padding-bottom: var(--spacing-sm);
}

.padLeft {
  padding-left: var(--spacing-sm);
}

.padRight {
  padding-right: var(--spacing-sm);
}

@media screen and (min-width: 640px) {
  .padTop {
    padding-top: var(--spacing-md);
  }

  .padBottom {
    padding-bottom: var(--spacing-md);
  }

  .padLeft {
    padding-left: var(--spacing-md);
  }

  .padRight {
    padding-right: var(--spacing-md);
  }
}
