@import 'partials/_vars';

.post {

  &--title {
    font-family: $font-display;
    font-size: $text-4;
    line-height: 1.25;
    margin-top: 0 !important;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 25%;
      height: 0;

      @media (--screen-md) {
        width: 50%;
      }
    }

    &::before {
      border-top: 2px groove $color-core-lighter;
      margin: 0 auto $space-md;

      @media (--screen-md) {
        margin-bottom: $space-lg;
      }
    }

    &::after {
      border-bottom: 2px ridge $color-core-lighter;
      margin: $space-md auto 0;

      @media (--screen-md) {
        margin-top: $space-lg;
      }
    }

    @media (--screen-sm) {
      font-size: $text-5;
    }

    @media (--screen-md) {
      font-size: $text-6;
      line-height: 1.2;
    }

    @media (--screen-lg) {
      font-size: $text-7;
      line-height: 1.15;
    }
  }

  &--summary {
    font-size: $text-2;
    font-style: italic;
  }

  &--summary,
  &--meta {
    color: $color-core-dark;
  }

  &--cover {
    width: 100%;
    max-width: 960px;
    height: auto;

    &Wrapper {
      text-align: center;
    }
  }


  &--content {
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $font-display;
      margin: 1.25em 0 0.64em;
    }

    h2 {
      font-size: $text-4;
      line-height: 1.25;
    }

    h3 {
      font-size: $text-3;
      line-height: 1.333;
    }

    h4 {
      font-size: $text-2;
    }

    h5,
    h6 {
      font-size: $text-1;
    }

    p,
    li {
      line-height: 1.6;
    }

    blockquote {
      font-style: italic;
      padding-left: 1rem;
      margin-left: 0;
      border-left: 8px solid $color-core-lighter;

      @media (--screen-md) {
        font-size: $text-2;
      }
    }

    img {
      width: 100%;
    }

    /* pre,
    code {
      background: white;
    } */
  }
}
