@import 'partials/_vars';

.post {

  &--title {
    font-family: $font-display;
    font-size: $text-4;
    line-height: 1.25;
    margin-top: 0 !important;

    @media (--screen-sm) {
      font-size: $text-5;
    }

    @media (--screen-md) {
      font-size: $text-6;
      line-height: 1.2;
    }

    @media (--screen-lg) {
      font-size: $text-7;
      line-height: 1.15;
    }
  }

  &--summary {
    font-size: $text-2;
    font-style: italic;
  }

  &--summary,
  &--meta {
    color: $color-core-dark;
  }

  &--cover {
    width: 100%;
    max-width: 960px;
    height: auto;

    &Wrapper {
      text-align: center;
    }
  }


  &--content {
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $font-display;
    }

    p,
    li {
      line-height: 1.6;
    }
  }
}
