.divider {
  height: 8px;
  background: linear-gradient(
    to right,
    var(--colorAccent1) 0%,
    var(--colorAccent1) 20%,
    var(--colorAccent3) 20%,
    var(--colorAccent3) 40%,
    var(--colorAccent4) 40%,
    var(--colorAccent4) 60%,
    var(--colorAccent5) 60%,
    var(--colorAccent5) 80%,
    var(--colorAccent2) 80%,
    var(--colorAccent2) 100%
  );
  margin: var(--spacing-lg) 0;
  border-top: 2px solid transparent;
}

.divider:not(.fullWidth) {
  width: 50%;
  max-width: 240px;
}

.fullWidth {
  width: 100%;
}
