<ul class="reset postsList">
  {% for post in posts %}
  <li class="postsList--item">
    <article>
      <header>
        {% if post.metadata.cover %}
        <div class="image-wrapper-16-9">
          <img src="/{{post.metadata.cover.placeholder}}" srcset="{{ post.metadata.cover.srcset }}" class="postsList--cover" alt="" aria-hidden loading="lazy" />
        </div>
        {% endif %}

        <h2 class="title-md">
          <a href="/{{ post.metadata.slug }}">{{ post.title }}</a>
        </h2>
        <p class="text-sm text-light">
          <time>{{ post.metadata.date | date }}</time>
          &nbsp;|&nbsp;
          {{ post.content | wordcount | readtime }} minute read
          <span>({{ post.content | wordcount }} words)</span>
        </p>
      </header>

      <p>{{ post.metadata.description }}</p>
      <p>
        <a href="/{{ post.metadata.slug }}" class="focusable">
          Continue Reading &raquo;
          <span class="sr-only">: {{ post.title }}</span>
        </a>
      </p>
    </article>
  </li>
  {% endfor %}
</ul>
