.wrapper {
  background-color: var(--colorCore-darkest);
  color: var(--colorCore-lightest);
}

.title {
  font-size: var(--fontSize-base);
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}
