:root {
  --postSummaryImageWidth: 240px;
}

.wrapper {
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: var(--fontSize-base);
}

.title a {
  text-decoration: none;
}

.title a:hover {
  text-decoration: underline;
}

.date {
  font-size: var(--fontSize-sm);
  color: var(--colorCore-dark);
}

.title,
.date {
  order: 2;
}

.image {
  position: relative;
  left: calc(var(--spacing-sm) * -1);
  top: 0;
  width: var(--postSummaryImageWidth);
  background: linear-gradient(
    to bottom right,
    var(--colorAccent1),
    var(--colorAccent2),
    var(--colorAccent3),
    var(--colorAccent4),
    var(--colorAccent5)
  );
}

.readMore {
  display: none;
}

@media screen and (min-width: 640px) {
  .wrapper {
    padding-left: var(--postSummaryImageWidth);
  }

  .title {
    font-size: var(--fontSize-lg);
  }

  .image {
    position: absolute;
    left: calc(var(--spacing-md) * -1);
    width: var(--postSummaryImageWidth);
    height: calc(var(--postSummaryImageWidth) / 1.6);
  }

  .readMore {
    display: inline-block;
    width: auto;
    align-items: center;
    text-decoration: none !important;
    color: var(--colorAccent3);
  }

  .readMore:hover,
  .readMore:focus-visible {
    text-decoration: underline !important;
  }

  .icon {
    position: relative;
    bottom: -2px;
    margin-left: 8px;
  }

  .footer {
    display: block;
  }
}
